<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Keys related to your Azure Search instance -->
    <add key="SearchServiceName" value="[searchservicename]" />
    <add key="SearchServiceApiKey" value="xxxxxxxxxxxxxxxxxxx" />
    <add key="SearchServiceQueryKey" value="xxxxxxxxxxxxxxxxxxx" />
    
    <!-- Blob Data Source -->
    <add key="DataSourceBlobStorageAccountConnectionString" value="BlobEndpoint=https://xxxxx.blob.core.windows.net/;QueueEndpoint=https://xxxxx.queue.core.windows.net/;FileEndpoint=https://xxxx.file.core.windows.net/;TableEndpoint=https://xxxx.table.core.windows.net/;SharedAccessSignature=sv=2017-11-09&amp;ss=b&amp;srt=sco&amp;sp=rl&amp;se=2019-07-01T20:22:38Z&amp;st=2018-07-01T12:22:38Z&amp;sip=0.0.0.0-255.255.255.255&amp;spr=https&amp;sig=xxxxxxxxxxxxxxx" />
    <add key="DataSourceBlobContainerName" value="xxxxxxxxxxxxx" />
  </appSettings>
</configuration>